@include keyframes(arrow) {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(arrow_bounce) {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 0px;
  }
  100% {
    bottom: 20px;
  }
}

@include keyframes(text_appear) {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@include keyframes(headline_fade) {
  0% {
    color: rgba(0,0,0,.0);
  }
  100% {
    color: rgba(0,0,0,.4);
  }
}

@include keyframes(line_expand_up) {
  0% {
    top: 50%;
    opacity: 0;
  }
  100% {
    top: 0%;
    opacity: 1;
  }
}

@include keyframes(line_expand_down) {
  0% {
    bottom: 50%;
    opacity: 0;
  }
  100% {
    bottom: 0%;
    opacity: 1;
  }
}

@include keyframes(info_fade) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(line_two) {
  0% {
    @include transform(translateY(-100%));
  }
  100% {
    @include transform(translateY(0%));
  }
}
@include keyframes(line_one) {
  0% {
    @include transform(translateY(100%));
  }
  100% {
    @include transform(translateY(0%));
  }
}
@include keyframes(line_three) {
  0% {
    @include transform(translateX(-100%));
  }
  100% {
    @include transform(translateX(0%));
  }
}
@include keyframes(line_four) {
  0% {
    @include transform(translateX(100%));
  }
  100% {
    @include transform(translateX(0%));
  }
}
@include keyframes(fade_load) {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@include keyframes(fade_lockup) {
  0% {
    @include transform(translateY(10px));
    opacity: 0;
  }
  100% {
    @include transform(translateY(0px));
    opacity: 1;
  }
}

@include keyframes(fade_corey) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(pulse) {
  0% {
    @include transform(scale(0,0));
    opacity: 1;
  }
  50% {
    @include transform(scale(1,1));
    opacity: .5;
  }
  100% {
    @include transform(scale(0,0));
    opacity: .5;
  }
}
