.logo {
	position: fixed;
	top: 20px;
	left: 5%;
	width: 70px;
	height: 41px;
	z-index: 7;
	background: #141414;
	@include transition(background .3s ease .8s, opacity .5s ease .5s);
	img {
		opacity: .4;
		@include transition(opacity .3s ease);
	}
	&:hover {
		img {
			opacity: 1;
		}
	}
}
.fp-viewing-secondPage {
	.logo img {
		opacity: 1;
	}
}
.info {
	position: fixed;
	top: 20px;
	right: 5%;
	width: 40px;
	height: 40px;
	z-index: 6;
	border-radius: 50%;
	border: 2px solid #5E5E5E;
	overflow: hidden;
	cursor: pointer;
	@include transition(border .3s ease, opacity .5s ease .5s);
	&:before, &:after{
	    content:'';
	    position:absolute;
	    width:40px;
	    height:2px;
	    background-color: #3f3f3f;
	    border-radius:2px;
	    top: -50px;
	    @include transition(top .5s ease 1s, transform .3s $ease-out-quart 1.3s);
	}
	&:before{
	    -webkit-transform:rotate(0deg);
	    -moz-transform:rotate(0deg);
	    transform:rotate(0deg);
	    left:0;
	}
	&:after{
	    -webkit-transform:rotate(-0deg);
	    -moz-transform:rotate(-0deg);
	    transform:rotate(-0deg);
	    right:0;
	}
	p {
		color: #5E5E5E;
		line-height: 40px;
		font-size: 1.7em;
		font-weight: bold;
		text-align: center;
		opacity: 1;
		@include transition(opacity .7s $ease-out-quart 1s, color .3s ease);
	}
	&:hover {
		border: 2px solid $white;
		p {
			color: $white;
		}
	}
}
section {
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -400px;
	width: 800px;
	display: block;
	z-index: 1;
	-webkit-transform:translateZ(0px);
}

// INFO PANEL STYLES
aside {
	position: fixed;
	height: 300px;
	width: 100%;
	@include transform(translateY(-300px));
	background: #ffffff;
	display: table;
	z-index: 5;
	top: 0;
	@include transition(transform .7s $ease-out-quart 0s);
	div {
		display: table-cell;
		vertical-align: middle;
		p {
			max-width: 560px;
			padding: 0 20px;
			margin: 0 auto;
			text-align: center;
			font-size: 17px;
			opacity: 0;
			@include transition(opacity .5s ease .3s);
		}
	}
}

.arrow {
	width: 40px;
	height: 40px;
	position: fixed;
	z-index: 9;
	left: 50%;
	margin-left: -20px;
	bottom: 20px;
	@include transition (margin .3s ease, bottom .5s ease .5s);
	&:after {
		content: '';
		width: 20px;
		height: 20px;
		position: absolute;
		background: url('../img/arrow.png') no-repeat center center;
		background-size: 20px 20px;
		top: 8px;
		left: 10px;
		@include animation(arrow 2.2s ease infinite)
	}
}

.fp-viewing-firstPage .arrow {
	bottom: 80px;
}

.slide_down {
	@include transform(translateY(0px));
	p {
		opacity: 1;
	}
}
.info_open {
	.site_wrap {
		-webkit-transform: scale3d(0.95, 0.95, 1) !important;
		transform: scale3d(0.95, 0.95, 1) !important;
		h2 {
			-webkit-background-clip: none;
			.line {
				position: relative;
				display: inline-block;
			}
			.strike_through {
				&:after {
					content: '';
					width: 100%;
				}
			}
		}
	}
	// .logo {
	// 	background: #c4252d;
	// 	img {
	// 		opacity: 1;
	// 	}
	// }
	.info {
		&:before, &:after{
			top: 19px;
		}
		&:before{
		    -webkit-transform:rotate(45deg);
		    -moz-transform:rotate(45deg);
		    transform:rotate(45deg);
		}
		&:after{
		    -webkit-transform:rotate(-45deg);
		    -moz-transform:rotate(-45deg);
		    transform:rotate(-45deg);
		}
		p {
			opacity: 0;
		}
		&:hover {
			border: 2px solid #999;
			&:before, &:after {
				background: #999;
			}
		}
	}
}

.fp-viewing-firstPage {
	.info, .logo {
		opacity: 0;
	}
}